@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');


.splash-container {
    box-shadow: 6px 6px 20px -8px black;
    border: 2px solid black;
    border-radius: 8px;
    background: white;
    padding: 50px;
    margin-top:100px;
  }
  .logo-style {
    font-size: 64px;
    font-family: 'Arima Madurai', cursive;    
    padding:15px;
  
  }
  .bg-style{
      background-color: bisque;
      position: fixed;
      /* width: 100vw;  */
      /* height: 100vh; */
  }
  .button-style {
    /* background-color: brown; */
    /* font-size: 24px; */
    font-family: "Calibri";
    /* font-weight:"bolder"; */
    width: 75%;
  }